/*@group Desktop*/
.container.content {
	margin-top: 18px;
}
hr {
	margin: 36px 0;
	border: none;
	height: 1px;
	color: #eee;
	background: #ccc;
}
/*@end Desktop*/
/*@group mobile*/
@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}
/*@end mobile*/
/*@group retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

}
/*@end retina */