@import "mixins";
@import "variables";

/*@group basic */
@import "buttons/basic.scss";
/*@end basic */

/*@group dimensions */
.button.small {
	padding: 6px 12px;
	font-size: 11px;
}
.button.large {
	padding: 7px 26px;
	font-size: 18px;
	line-height: 36px;
}
/*@end sizes */
/*@group primary*/
@import "buttons/primary.scss";
/*@end primary*/
/*@group primary + 3D*/
.button.primary.threeD {
	background: $btn_primary_start;
	box-shadow: 0 4px 1px darken($btn_primary_start,52%), 0px 8px 8px rgba(#000,0.4);
	&:hover {
		box-shadow:
			0 4px 1px darken($btn_primary_start,52%),
			0px 7px 7px rgba(0,0,0,0.4);
	}
	&:active {
		box-shadow: 0 1px 1px darken($btn_primary_start,52%), 0px 3px 2px rgba(0,0,0,0.4);
		-webkit-transform: translate(0, 1px);
		-moz-transform: translate(0, 1px);
		-o-transform: translate(0, 1px);
		transform: translate(0, 1px);
	}
}
/*@end primary + 3D*/