@import "variables";

* {
	margin: 0;
}
html, body {
	color: $dark-grey;
	font: 13px/18px Arial, Helvetica, Geneva, sans-serif;
}
a {
	color: $blue;	
}
h1,h2,h3,h4,h5,h6 {
	color: lighten($dark-grey, 4%);
}
h1 {
	font-size: 48px;
	line-height: $line-height*4;
}

h2 {
	font-size: $line-height*2;
	line-height: $line-height*3;
}

h3 {
	font-size: 24px;
	line-height: $line-height*2;
}

h4 {
	font-size: 21px;
	line-height: $line-height*2;
}

h5 {
	font-size: $line-height;
}

h6 {
	font-size: 16px;
}

p {
	margin-bottom: $line-height;
}

ol, ul {
	margin: 0 0 $line-height 24px;
}