/*@group hint*/
label span.hint {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	opacity: 0;
	position: absolute;
}
label.error span.hint {
	opacity: 1;
}
label.error span.hint/*make sure error messages are always visible*/,
input:focus + span.hint {
	opacity: 1;
}
/*@end hint*/