/*@group inline form */
.form-horizontal label > div,
.form-horizontal .label-group > div {
	width: 130px;
	float: left;
	text-align: right;
	padding-right: 10px;
	line-height: 34px;
}
.form-horizontal label input,
.form-horizontal label select {
	display: inline-block;
}
.form-horizontal .label-group label,
.label-group.inline label {
	display: inline;
	line-height: $line-height*2;
}
.label-group.inline label input {
	margin-top: 0;
}
/* by default webkit select is a lot shorter and sits higher up */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.form-horizontal select {
		margin-top: $line-height/2;
	}
}
/*@group clear and vertical*/
/*The explanation for the label group is full width and sitting above the labels. This is useful when the explanation is long*/
.form-horizontal .input_below div,
.form-horizontal .stacked div {
	width: 100%;
	text-align: left;
}
.form-horizontal .input_below label,
.form-horizontal .stacked label {
	line-height: $line-height;
}
.form-horizontal .stacked label {
	display: table;
}
/*@end clear */
.form-horizontal input[type="text"],
.form-horizontal input[type="password"],
.form-horizontal input[type="email"],
input[type="search"] {
	display: inline;
}
.form-horizontal .label-group label input {
	float: none;
}
.form-horizontal label span {
	margin-left: 5px;
}
.form-horizontal.help-below label span {
	display: block;
	clear: both;
	line-height: inherit;
	margin-left: 145px;
}
/*@end inline form */