/*@group inline form */
.inline_form label > div,
.inline_form .label_group > div {
  width: 130px;
  float: left;
  text-align: right;
  padding-right: 10px;
  line-height: 36px; }

.inline_form .label_group label {
  display: inline;
  line-height: 36px; }

/* by default webkit select is a lot shorter and sits higher up */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .inline_form select {
    margin-top: 9px; } }
/*@group clear and vertical*/
/*The explanation for the label group is full width and sitting above the labels. This is useful when the explanation is long*/
.inline_form .input_below div,
.inline_form .stacked div {
  width: 100%;
  text-align: left; }

.inline_form .input_below label,
.inline_form .stacked label {
  line-height: 18px; }

.inline_form .stacked label {
  display: table; }

/*@end clear */
.inline_form input[type="text"],
.inline_form input[type="password"],
.inline_form input[type="email"],
.inline_form input.search {
  display: inline; }

.inline_form .label_group label input {
  float: none; }

.inline_form label span {
  line-height: 36px;
  margin-left: 5px; }

.inline_form.help_below label span {
  display: block;
  clear: both;
  line-height: inherit;
  margin-left: 145px; }

/*@end inline form */
