/*@group search */
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  width: 160px; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

input.search,
input.search:focus {
  border-radius: 15px 0 0 15px;
  border-right: none;
  outline: none;
  margin-right: -4px;
  padding-left: 10px; }

input.search + .btn {
  border-radius: 0 15px 15px 0;
  padding: 2px 14px 4px 12px;
  line-height: 20px; }

/*@end search */
