.button.primary {
	@include gradient($btn_primary_start, $btn_primary_stop);
	border: 1px solid rgba(#000,0.3);
	color: $btn_primary_color;
	&:hover {
		@include gradient($btn_primary_hover_start, $btn_primary_hover_stop);
		color: $btn_primary_hover_color;
		box-shadow: inset 0 1px 3px rgba(#000,0.2);
	}
	&:active {
		box-shadow: inset 0 4px 5px rgba(#000,0.3);
	}
}